.filetitle {
    height: 45px;
    width: 1000px;
    max-width: 90%;
    background-color: rgb(72, 72, 72);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    height: 35px;
    width: 35px;
    margin-left: 10px;
}

.bar {
    border-left: 2px solid rgb(163, 161, 161);
    height: 40px;
    margin-left: 20px;
}

.gamefile {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}

.container {
    position: relative;
    height: auto;
    padding: 5px;
    width: 990px;
    max-width: 90%;
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: white;
}

.title {
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.return {
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(163, 161, 161);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(65, 63, 63);
    transition: 0.5s;
}

.return:hover {
    padding: 20px;
    border: 5px solid white;
    cursor: pointer;
    transition: 0.5s;
}