.title {
    height: 75px;
    width: 75%;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2% auto 0;
    border: 1px solid white;
    border-radius: 100px;
    background-color: rgba(187, 187, 187, 0.7);
}
#exit {
    position: absolute;
    left: 5%;
}

#logout {
    position: absolute;
    right: 5%;
}

.option {
    padding: 15px;
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
    font-family: monospace;
    border: 1px solid white;
    transition: 0.3s;
    border-radius: 100px;
}

.option:hover {
    background-color: rgb(187, 187, 187);
    cursor: pointer;
    transition: 0.3s;
    padding: 23px;
}

.github {
    height: auto;
    background-color: rgba(187, 187, 187, 0.7);
    width: 30%;
    font-family: monospace;
    margin-left: 1%;
    border-radius: 10px;
    padding: 10px;
}

#codingimage {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    border-radius: 10px;
}

.choicebuttons {
    padding: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    margin-left: 35%;
    transition: 0.3s;
    font-size: 20px;
}

.choicebuttons:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    color: black;
    border: 1px solid black;
    font-size: 25px;
}