#title {
    border: 1px solid transparent;
    border-top: 10px solid rgb(255, 203, 114);
    max-width: 40%;
    margin-left: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.blocks {
    border: 1px solid transparent;
    background-color: white;
    max-width: 38%;
    margin-left: 30%;
    margin-top: 1.5%;
    border-radius: 10px;
    padding: 30px;
}

.info {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    width: 45%;
    transition: border-color 0.3s ease-in-out;
}

.info:focus {
    outline-width: 0;
    border-bottom: 2px solid rgb(255, 203, 114);
}

.radios {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;
    margin-right: 8px;
}

.radios:hover {
    border-color: rgb(255, 203, 114);
}

.radios:checked {
    border-color: rgb(255, 203, 114);
    background-color: rgb(255, 203, 114);
    box-shadow: inset 0 0 0 4px white;
}

label {
    cursor: pointer;
}

.checkboxes {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;
    margin-right: 8px;
}

.checkboxes:hover {
    border-color: rgb(255, 203, 114);
}

.checkboxes:checked {
    border-color: rgb(255, 203, 114);
    background-color: rgb(255, 203, 114);
}

.checkboxes:checked::after {
    content: "✓";
    display: block;
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 15px;
}

.submit {
    padding: 12px;
    margin-left: 30%;
    background-color: rgb(255, 203, 114);
    border: none;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
}

.submit::after {
    content: "";
    background-color: rgb(255, 225, 173);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: width 0.6s, height 0.6s, opacity 0.6s;
}

.submit:active::after {
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: 0s;
}